.gestionCategorias {
  padding: 100px;
  max-width: 500px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  margin-left: 5px;
}
.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.cancelButton {
  background-color: #f44336;
  color: #fff;
  padding: 5px 10px;
}

.saveButton {
  background-color: #4c82af;
  color: #fff;
  padding: 5px 10px;
}

