.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #097dc5ac;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  font-size: 18px;
}

.menu-icon {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.menu-desplegable {
  position: absolute;
  top: 50px; /* Justo debajo del header */
  left: 0;
  background-color: #097dc5;
  width: 100%;
  color: white;
  border-top: 1px solid #444;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-desplegable ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-desplegable li {
  padding: 15px 20px;
  cursor: pointer;
}

.menu-desplegable li:hover {
  background-color: #51e5ff;
}
